body {
    background-color: yellow;
}

.page-title {
    font-family: 'Century Gothic';
    font-size: 100px;
    color: black;

    margin-left: 140px;
    animation: title 2s ease-in-out;
}

.page-content {
    font-family: 'Century Gothic';
    font-size: 45px;
    color: black;
    
    margin-left: 180px;
    animation: text 3s ease-out;
}

@keyframes title {
    from {transform: translateX(-50%); }
    to {transform: translateX(0%); }
}

@keyframes text {
    from {transform: translateX(-100%); }
    to {transform: translateX(0%); }
}