body {
    background-color: yellow;
}

.page-title {
    font-family: 'Century Gothic';
    font-size: 100px;
    color: black;

    margin-left: 140px;
    animation: title 2.6s ease-out;
}

.a-none {
    text-decoration: none;
    color: inherit !important;
}

.page-title:hover {
    color: rgb(92, 92, 92);
}

.page-caption {
    font-family: 'Century Gothic';
    font-size: 45px;
    color: black;

    margin-left: 180px;
    animation: text 3.1s ease-out;
}

.page-project {
    font-family: 'Century Gothic';
    font-size: 36px;
    color: black;

    margin-left: 200px;
    animation: project-text 3.3s ease-out;
}

.page-caption:hover {
    color: rgb(92, 92, 92);
}

#daangast-social {
    display: inline-block;
}

.page-content {
    font-family: 'Century Gothic';
    font-size: 24px;
    color: black;
    
    margin-left: 220px;
}

#page-center {
    text-align: center;
}

#page-left {
    text-align: left;
}

#page-right {
    text-align: right;
}

.slideshow-image-1, .slideshow-image-2, .slideshow-image-3, .slideshow-image-4 {
    position: absolute;
    border-style:
}

.slideshow-image-1 {
    width: 20%;
    animation: slideshow-image-1 2.5s ease-out;
}

.slideshow-image-2 {
    width: 18%;
    margin: 1% auto 1% 5%;
    animation: slideshow-image-2 2.8s ease-out;
}

.slideshow-image-3 {
    width: 16.5%;
    margin: 1.75% auto 1.75% 10%;
    animation: slideshow-image-3 3.2s ease-out;
}

.slideshow-image-4 {
    width: 15.75%;
    margin: 2.125% auto 2.125% 15%;
    animation: slideshow-image-4 3.7s ease-out;
}



@keyframes title {
    from {transform: translateX(-60%); }
    to {transform: translateX(0%); }
}

@keyframes text {
    from {transform: translateX(-80%); }
    to {transform: translateX(0%); }
}

@keyframes project-text {
    from {transform: translateX(-80%); }
    to {transform: translateX(0%); }
}

@keyframes slideshow-image-1 {
    from {transform: translateX(500%); }
    to {transform: translateX(0%); }
}

@keyframes slideshow-image-2 {
    from {transform: translateX(550%); }
    to {transform: translateX(0%); }
}

@keyframes slideshow-image-3 {
    from {transform: translateX(600%); }
    to {transform: translateX(0%); }
}

@keyframes slideshow-image-4 {
    from {transform: translateX(650%); }
    to {transform: translateX(0%); }
}

