body {
    background-color: yellow;
}

.main-body {
    animation: body-background-color 2s ease-in;
}

.page-title {
    font-family: 'Century Gothic';
    font-size: 100px;
    color: black;
    margin-left: 140px;
}

.page-title-right {
    animation: title-right 2.6s ease-out;
}
.page-title-down {
    animation: title-down 2.6s ease-out;
}

.a-none {
    text-decoration: none;
    color: inherit !important;
}

.page-title:hover {
    color: rgb(92, 92, 92);
}

.page-content-title {
    font-family: 'Century Gothic';
    font-size: 45px;
    color: black;

    margin-left: 180px;
    animation: text 3.1s ease-out;
}

.page-project {
    font-family: 'Century Gothic';
    font-size: 36px;
    color: black;

    margin-left: 200px;
    animation: project-text 3.3s ease-out;
}

#daangast-social {
    display: inline-block;
}

.page-content {
    font-family: 'Century Gothic';
    font-size: 24px;
    color: black;
    
    margin-left: 220px;
}

#page-center {
    text-align: center;
}

#page-left {
    text-align: left;
}

#page-right {
    text-align: right;
}

.slideshow-image-1, .slideshow-image-2, .slideshow-image-3, .slideshow-image-4 {
    position: absolute;
    border-radius: 80px;
    border-style: solid;
    border-width: 1px;
}

.slideshow-image-1 {
    width: 20%;
}

.slideshow-image-2 {
    width: 18.5%;
    margin: .75% auto .75% 5%;
}

.slideshow-image-3 {
    width: 17%;
    margin: 1.5% auto 1.5% 9%;
}

.slideshow-image-4 {
    width: 15.5%;
    margin: 2.25% auto 2.25% 12%;
}

/* Animations */

@keyframes title-right {
    from {transform: translateX(-60%); }
    to {transform: translateX(0%); }
}

@keyframes title-down {
    from {transform: translateY(-200%); }
    to {transform: translateY(0%); }
}

@keyframes text {
    from {transform: translateX(-80%); }
    to {transform: translateX(0%); }
}

@keyframes project-text {
    from {transform: translateX(-80%); }
    to {transform: translateX(0%); }
}

@keyframes body-background-color {
    from {background-color: black; }
    to {background-color: yellow; }
}

/* Button Stuff*/
.btn {
    background-color: rgb(120, 255, 120);
    width: 150px;
    height: 50px;
    margin-left: 180px;
    border-radius: 200px;
  }

.btn:active {
    transform: scaleX(120%);
}